<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.unauto.dev.services.UnAuto"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>
    <permission android:name="com.unauto.dev.services.UnAuto.permission.MAPS_RECEIVE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="com.weaverprojects.gpstest.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:name="com.unauto.dev.services.UnAuto.StartUnAuto"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAEJZ1SWQSaFBf9rSnJzRlgmQ3GBNCGz0w"/>
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id"/>
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key"/>

        <activity
            android:name="com.unauto.dev.services.UnAuto.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.unauto.android.common.activities.MisSitiosActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_mis_sitios">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unauto.dev.services.UnAuto.MainActivity"/>
        </activity>
        <activity android:name="com.unauto.android.common.activities.SitioActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name="com.unauto.android.common.activities.DetallesActivity"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unauto.android.common.activities.MisSitiosActivity"/>
        </activity>
    </application>

</manifest>